# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
mbta-etl

# Test binary
*.test

# Output of go coverage tool
*.out
coverage.html

# SQLite databases
*.db
*.db-journal
*.db-wal
*.db-shm

# Dependency directories
vendor/

# Go workspace file
go.work

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
*~

# OS specific files
.DS_Store
Thumbs.db